
@use '../../styles.scss' as styles;

.modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
}
.modal {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  min-width: 300px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  border-radius: 50%;
  border: 2px solid grey;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}

.copy-location-button {
  /* Tampilan dasar tombol */
  background-color: #d88ca5;;
  border-radius: 5px;
  border: 0px;
  color: #ffff;
  padding: 5px 10px;
  font-family: "Mali";
  font-size: 14px;
  cursor: pointer;
  
  /* Hindari efek 'pressed' default browser */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Efek saat tombol dihover (mouse di atas tombol) */
.copy-location-button:hover {
  background-color: #d0d0d0;
}

/* Efek saat tombol ditekan */
.copy-location-button:active {
  background-color: #c0c0c0;
  transform: translateY(1px); /* Efek tombol tertekan ke bawah */
}