@use '../../styles.scss' as styles;

.container {
    width: 90vw;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.center{
    justify-content: center;
    margin: auto;
    gap: 5vw;
    padding-top: 20px;
}

.image-carousel{
    padding: 5vw;
}

.about-desc{
    padding: 5vw;
    background-image: url(../../assets/bg/bg_aboutUs_transparant.jpg) !important;
    background-size:100%;
    background-repeat: no-repeat;
}

.name-container{
    border: 1px solid styles.$light-gold;
    border-radius: 20px;
    padding: 10px;
    width: 25vw !important;
    height: 100% !important;
    text-align: center;
}

@media screen and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2.5vw;
    }

    .image-carousel{
        padding: 5vw;
        justify-content: center;
        margin: auto;
    }


    .image-hideable{
        display: none;
    }

    .name-container{
        margin: 2vw auto;
        width: 95% !important;
    }
}