<div class="container">
    <div class="about-desc">
        <p class="title-text">Our Story</p>
        <p>
            We had know each other since 2017, 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p>
           consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </p>
    </div>
    <div class="image-carousel">
        <img src="../../assets/image/Image 2.png">
    </div>
</div>
<div class="container center">
    <div class="name-container">
        <p>{{bride_name}}</p>
        <p>{{bride_heritance}} daughter of</p> 
        <p>Mr. {{bride_father}} & Mrs. {{bride_mother}}</p>
    </div>
    <div class="image-container">
        <img src="../../assets/image/Image 4.png">
    </div>
    <div class="name-container">
        <p>{{groom_name}}</p>
        <p>{{groom_heritance}} son of</p> 
        <p>Mr. {{groom_father}} & Mrs. {{groom_mother}}</p>
    </div>
</div>
