<div class="container-row">
    <div class="image">
        <img ngSrc="../../assets/image/Image 3.png" width="300" height="300">
    </div>
    <div class="wish-section">
        <p class="title-text">Send Wishes</p>
        <p class="h6-text">Thank you for your beautiful wishes & prayers</p>
        <form class="form-group" [formGroup]="wishForm" (ngSubmit)="onSubmit()">
            <p>From: {{guestName}}</p>
            <textarea type="text" placeholder="Messages..." formControlName="message"></textarea>
            <p>{{successMessage}}{{errorMessage}}</p>
        </form>
        <button class="my-button" (click)="onSubmit()">Send</button>
    </div>
</div>