<div class="container">
    <div class="title-img">
        <img src="../../assets/image/Image 1.png">
    </div>
    <div class="title-content">
        <p class="subtitle-text top-desc"><b>Dear {{ guestName }}</b>, you are invited</p>
        <p class="title-text">The Wedding of</p>
        <p class="title-text">Kevin & Cassie</p>
        <p class="subtitle-text">{{ date }}</p>
        <button class="my-button" (click)="notifyParentToScroll()">Open Invitation</button>
    </div>
</div>
<div class="separator"> 
    <!-- <hr>
    <img src="../../assets/image/Flower Bucket 1.png"> -->
</div>
