<div class="container-column">
    <div class="title-section container-row">
        <span class="title-text">RSVP</span>
        <span class="h6-text">I’m grateful to invite you to this event, </span>
    </div>
    <div class="container-form">
        <p class="h7-text"><b>Dear Mr./Mrs./Ms. Guest</b>, please confirm your attendence</p>
        <div class="sub-group">
            <div class="form-group">
                <p class="h6-text label">Would you come to Holy Matrimony?</p>
                <div class="input-group">
                    <label><input type="radio" value="1">Yes</label>
                    <label><input type="radio" value="0">No</label>
                </div>
            </div>
            <div class="form-group">
                <p class="h6-text label">How many persons?</p>
                <div class="input-group">
                    <select name="matrimony-persons">
                        <option>1 person</option>
                        <option>2 persons</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="sub-group">
            <div class="form-group">
                <p class="h6-text label">Would you come to Holy Matrimony?</p>
                <div class="input-group">
                    <label><input type="radio" value="1">Yes</label>
                    <label><input type="radio" value="0">No</label>
                </div>
            </div>
            <div class="form-group">
                <p class="h6-text label">How many persons?</p>
                <div class="input-group">
                    <select name="matrimony-persons">
                        <option>1 person</option>
                        <option>2 persons</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="footer-group">
            <button>Submit</button>
        </div>
    </div>
</div>
