<div class="container-row">
    <div class="sub-section">
        <div class="title-section">
            <p class="title-text">Digital Gift</p>
            <p class="h7-text">Your gift will be treasured in our heart</p>
        </div>
        <div class="gift-section">
            <div class="gift" (click)="openModalGift()">
                <img class="icon" ngSrc="../../assets/icons/gift.png" width="24" height="24">
                <p class="h7-text">Send Gift</p>
            </div>
            <div class="gift" (click)="openModalTransfer()">
                <img class="icon" ngSrc="../../assets/icons/wallet.png" width="24" height="24">
                <p class="h7-text">Bank Transfer</p>
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="sub-section">
        <div class="title-section">
            <span class="title-text">Countdown</span>
        </div>
        <div class="countdown-section">
            <app-countdown targetDate="2026-01-17T09:00:00"></app-countdown>
            <button class="my-button" (click)="saveToCalendar()">Add to calendar</button>
        </div>
    </div>
</div>
