@use '../../styles.scss' as styles;

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2vw;
}

.sub-section{
    width: 45vw;
}

.vertical-line {
    border: 1px solid styles.$light-gold;
}

.gift-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
}

.countdown-section {
    display: flex;
    flex-direction: column;
}

.gift {
    border: 1px solid styles.$light-gold;
    border-radius: 10px;
    width: 14vw;
    text-align: center;
    // box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    .icon {
        margin-top: 10px;
    }
    .h7-text {
        margin-top: 0px;
    }
}

button {
    color: wheat ;
    background-color: styles.$dark-brown;
    padding: 12px 24px;
}

@media screen and (max-width:600px) {
    .container-row{
        flex-direction: column;
        gap: 10px;
        justify-content: space-around ;
    }
    
    .vertical-line{
        border: 0px;
    }

    .sub-section{
        width: 90vw;
    }

    .gift{
        width: 44vw;
    }
    
    .gift-section, .countdown-section{
        width: 100%;
        margin: 0% 2%;
    }
}