<div class="container-column">
    <div class="title-section">
        <p class="title-text">Schedule</p>
    </div>
    <div class="container">
        <div class="sub-section">
            <p class="h5-text">Holy Matrimony</p>
            <p class="h7-text">17 January 2025, 09:00 - 10:00</p> 
            <p class="h6-text">
                <b>Gereja St. Laurentius</b>
                <br>
                Jl. Sukajadi No.223, Gegerkalong, Kec. Sukasari, Kota Bandung
            </p>
            <button class="my-button" (click)="showLocation1OnMap()">See location</button>
        </div>
        @if(isBothEvent){
        <div class="sub-section">
            <p class="h5-text">Wedding Reception</p>
            <p class="h7-text">17 January 2025, 12:30 - End</p> 
            <p class="h6-text">
                <b>Royal Dynasty Lt. 2</b>
                <br>
                Gedung Graha Sudirman, Jl. Jend. Sudirman No. 232A, Kota Bandung
            </p>
            <button class="my-button" (click)="showLocation2OnMap()">See location</button>
        </div>
        }
    </div>
</div>
