@use '../../styles.scss' as styles;

.container {
    width: 90vw;
    margin: 5vw auto 5vw auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.sub-section{
    border: 2px solid styles.$light-gold;
    border-radius: 20px;
    padding: 0px 2vw 24px 2vw;
    text-align: center;
    width: 30vw;
    // box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

button {
    // color: wheat;
    // background-color: styles.$dark-brown;
    padding: 12px 24px;
}

.title-text-card {
    font-family: "Dancing Script";
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle2-text-card {
  font-size: 1rem;
  color: #7a6464;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.subtitle1-text-card {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #4a3c3c;
}

.subtitle3-text-card {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #4a3c3c;
}

@media screen and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 4vw;
    }

    .sub-section{
        width: 96%;
    }

}