@if(!eventStarted){
    <div class="countdown-grid">
    <div class="time-box">
        <span class="number">{{ days }}</span>
        <span class="label">Days</span>
    </div>
    <div class="time-box">
        <span class="number">{{ hours }}</span>
        <span class="label">Hours</span>
    </div>
    <div class="time-box">
        <span class="number">{{ minutes }}</span>
        <span class="label">Minutes</span>
    </div>
    <div class="time-box">
        <span class="number">{{ seconds }}</span>
        <span class="label">Seconds</span>
    </div>
</div>
}@else {    
<ng-template #started>
    <p class="started">🎉 Event Started!</p>
</ng-template>
}


