/* You can add global styles to this file, and also import other style files */
$light-pink : #FFA8B8;
$dark-red: #94293D;
$light-gold: #F4EADC;
$dark-blue: #015282;
$light-blue: #BFDAEA;

body {
    font-family: 'Mali';
    margin: 0px !important;
    position: relative;
}

.my-button {
    font-family: 'Mali';
    padding: 14px 36px;
    border-radius: 24px;
    border-style: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-text{
    font-size: 30px;
    line-height: 10px;
}

.subtitle-text{
    font-size: 20px;
    line-height: 10px;
}

hr {
    display: block;
    border-top: 1px solid $light-gold;
    margin: 36px auto 0px auto;
}

.separator{
    hr {
        position: absolute;
        color: black;
        z-index: 0;
    }
    img {
        position: absolute;
        z-index: 1;
    }
    
}

.title-section {
    text-align: center;
    margin-top: 40px;
}

.h5-text { font-size: 24px;}

.h6-text { font-size: 18px;}

.h7-text { font-size: 14px;}

select {
    width: 16vw;
    padding: 8px;
    border-radius: 6px;
    font-family: 'Mali' !important;
    font-size: 16px;
    -webkit-appearance: none;
    appearance: none;
}